<div id="profile-container">
  The User Show page contains their Profile information, photo, and Posts
  <ul>
    <li>Nickname: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
    <% unless @profile.nil? %>
      <li>First Name: <%= @profile.first_name %></li>
      <li>Last Name: <%= @profile.last_name %></li>
      <li>Birthday: <%= @profile.birth_day.strftime("%-d/%-m/%Y") %></li>
      <p><%= @profile.self_describe %></p>
    <% end %>
  </ul>

  <% if @profile.nil? %>
    <%= link_to "New member? Create a profile, let's people know more about you!", new_profile_path %>
  <% else %>
    <%= link_to "Update your profile", edit_profile_path(current_user.id) %>
  <% end %>
</div>
