<div id="friend-requests-container">
  <p>Friend Requests</p>
  <div class="profile-container">
    <% @requesters.each do |requester| %>
      <div class="display-profile">
        <div class="user-img">
          USER IMG 
        </div>
        <div class="username">
          <%= requester.name %>
        </div>
        <%= form_with url: friendships_path, method: :post do |form| %>
          <%= form.hidden_field :requester_id, value: requester.id %>
          <%= form.submit "Accept Friend Request", class: "blue-btn" %>
        <% end %>
        <button class="red-btn">Cancel</button>
      </div>
    <% end %>
  </div>

  <p>Let's make new friend!</p> 
  <div class="profile-container">
    <% @potential_friends.each do |potential_friend| %>
      <div class="display-profile">
        <div class="user-img">
          USER IMG 
        </div>
        <div class="username">
          <%= potential_friend.name %>
        </div>
        <%= form_with url: friend_requests_path, method: :post do |form| %>
          <%= form.hidden_field :potential_friend_id, value: potential_friend.id %>
          <%= form.submit "Add Friend" , class: "blue-btn" %>
        <% end %>
        <button class="red-btn">Cancel</button>
      </div>
    <% end %>
  </div>
</div>
