<div id="post-container">
  <div id="new-post">
    <p>Share what you think:</p>
    <%= form_with url: posts_path, method: :post do |form| %>
      <%= form.text_field :topic, placeholder: "Topic" %>
      <%= form.text_area :content, placeholder: "Content" %>
      <%= form.hidden_field :author_id, value: current_user.id %>
      <%= form.submit "Post", id: "post-btn"%>
    <% end %>
  </div>

  <% @posts.each do |post| %>
      <div class="post">
        <div class="author"><%= post.author.name %></div>
        <div class="created_at"><%= ((Time.now - post.created_at)/3600).floor %> hours ago</div>
        <div class="topic"><%= post.topic %></div>
        <div class="content"><%= post.content %></div>
        <div class="likes"><%= post.likes.count %></div>
        <div class="comment-container">
          <div class="comment-header">Comments</div>
          <div id="new-comment">
            <%= form_with url: comments_path, method: :post do |form| %>
              <%= form.text_field :content, placeholder: "Write you comment..." %>
              <%= form.hidden_field :user_id, value: current_user.id %>
              <%= form.hidden_field :post_id, value: post.id %>
            <% end %>
          </div>
          <% post.comments.each do |comment| %>
            <div class="comment">
                <p class="username"><%= comment.user.name %></p>
                <p class="content"><%= comment.content %></p>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

