<!DOCTYPE html>
<html>
  <head>
    <title>OdinFinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/sidebar' %>
    <% end %>

    <div class="flash-msg-container">
      <% flash.each do |type, msg| %>
        <div class="flash-msg <%= type %>">
          <%= msg %>
        </div>
      <% end %>
    </div>

    <div id="content-container">      
      <%= yield %>
    </div>
  </body>
</html>
